# Major Academic Plan Formatting

In [1]:
import pandas as pd
f = '../data/academicplanresult.json'

In [2]:
df = pd.read_json(f)

print (df.columns)
df.head()

Index(['courseID', 'major', 'semester', 'year'], dtype='object')

    courseID                        major semester        year
0  RHET:1030  african-american-studies-ba     Fall  First Year
1   CSI:1600  african-american-studies-ba     Fall  First Year
2  ENGL:1200  african-american-studies-ba   Spring  First Year
3  AMST:1010          american-studies-ba     Fall  First Year
4  RHET:1030          american-studies-ba     Fall  First Year

### Formatting Data

*Year*

In [3]:
year_map = {
    'First Year': 'Freshman',
    'Second Year': 'Sophomore',
    'Third Year': 'Junior',
    'Fourth Year': 'Senior'
}
df['year'] = df['year'].apply(lambda x: year_map[x])

*Semester*

In [4]:
semester_map = {
    'Fall': 1,
    'Spring': 2,
    'Summer': 3
}

df['semester'] = df['semester'].apply(lambda x: semester_map[x])

*Majors*

In [5]:
def format_major(major):
    # get rid of -'s
    parts = major.split('-')
    n = len(parts)
    
    for i in range(n):
        if (i == n-1):
            parts[i] = parts[i].upper()
        else:
            parts[i] = parts[i].title()
    return ' '.join(parts)

df['major_alias'] = df['major'].apply(lambda x: format_major(x))

In [6]:
majors = df['major'].unique()
majors.sort()

print (majors)

['african-american-studies-ba' 'american-studies-ba'
 'ancient-civilization-ba' 'anthropology-ba' 'anthropology-bs'
 'applied-physics-bs' 'art-ba' 'art-history-ba'
 'asian-languages-literature-ba' 'astronomy-ba' 'astronomy-bs'
 'biochemistry-ba' 'biochemistry-bs' 'biology-ba' 'biology-bs'
 'biomedical-sciences-bs' 'chemistry-ba' 'chemistry-bs' 'cinema-ba'
 'classical-languages-ba' 'communication-studies-ba'
 'comparative-literature-ba' 'computer-science-ba' 'computer-science-bs'
 'dance-ba' 'english-ba' 'english-creative-writing-ba'
 'enterprise-leadership-ba' 'environmental-policy-planning-ba'
 'environmental-policy-planning-bs' 'environmental-sciences-ba'
 'environmental-sciences-bs' 'ethics-and-public-policy-ba' 'french-ba'
 'gender-womens-sexuality-studies-ba' 'geography-ba' 'geography-bs'
 'geoscience-ba' 'geoscience-bs' 'german-ba' 'global-health-studies-ba'
 'global-health-studies-bs' 'health-human-physiology-ba' 'history-ba'
 'human-physiology-bs' 'informatics-ba' 'international-relations-ba'
 'international-relations-bs' 'international-studies-ba' 'italian-ba'
 'journalism-mass-communication-ba' 'journalism-mass-communication-bs'
 'linguistics-ba' 'mathematics-ba' 'mathematics-bs' 'microbiology-bs'
 'music-ba' 'neuroscience-bs' 'philosophy-ba' 'physics-ba' 'physics-bs'
 'political-science-ba' 'political-science-bs' 'portuguese-ba'
 'psychology-ba' 'psychology-bs' 'radiation-sciences-bs'
 'religious-studies-ba' 'russian-ba' 'social-work-ba' 'sociology-ba'
 'sociology-bs' 'spanish-ba' 'speech-hearing-science-ba'
 'sport-recreation-management-bs' 'sport-studies-ba' 'statistics-bs'
 'theatre-arts-ba' 'therapeutic-recreation-bs']

In [7]:
df.head(20)

,courseID,major,semester,year,major_alias
0,RHET:1030,african-american-studies-ba,1,Freshman,African American Studies BA
1,CSI:1600,african-american-studies-ba,1,Freshman,African American Studies BA
2,ENGL:1200,african-american-studies-ba,2,Freshman,African American Studies BA
3,AMST:1010,american-studies-ba,1,Freshman,American Studies BA
4,RHET:1030,american-studies-ba,1,Freshman,American Studies BA
5,CSI:1600,american-studies-ba,1,Freshman,American Studies BA
6,AMST:2000,american-studies-ba,2,Freshman,American Studies BA
7,ENGL:1200,american-studies-ba,2,Freshman,American Studies BA
8,AMST:2025,american-studies-ba,1,Sophomore,American Studies BA
9,AMST:3900,american-studies-ba,2,Sophomore,American Studies BA
10,AMST:1010,sport-studies-ba,1,Freshman,Sport Studies BA
11,RHET:1030,sport-studies-ba,1,Freshman,Sport Studies BA
12,CSI:1600,sport-studies-ba,1,Freshman,Sport Studies BA
13,SPST:1074,sport-studies-ba,2,Freshman,Sport Studies BA
14,ENGL:1200,sport-studies-ba,2,Freshman,Sport Studies BA
15,ANTH:1101,anthropology-ba,1,Freshman,Anthropology BA
16,RHET:1030,anthropology-ba,1,Freshman,Anthropology BA
17,CSI:1600,anthropology-ba,1,Freshman,Anthropology BA
18,ANTH:1301,anthropology-ba,2,Freshman,Anthropology BA
19,ENGL:1200,anthropology-ba,2,Freshman,Anthropology BA

In [14]:
courses = df.to_dict(orient='records')

In [15]:
courses[0]

{'courseID': 'RHET:1030',
 'major': 'african-american-studies-ba',
 'major_alias': 'African American Studies BA',
 'semester': 1,
 'year': 'Freshman'}

In [17]:
majors = {}

for course in courses:
    course_maj = course['major']
    course_alias = course['major_alias']
    
    slim_course = {
        'courseID': course['courseID'],
        'year': course['year'],
        'semester': course['semester']
    }
    
    try:
        majors[course_maj]['courses'].append(slim_course)
    except:
        majors[course_maj] = {
            'alias': course_alias,
            'major': course_maj
        }
        majors[course_maj]['courses'] = []
        majors[course_maj]['courses'].append(slim_course)

In [19]:
majors['anthropology-ba']

{'alias': 'Anthropology BA',
 'courses': [{'courseID': 'ANTH:1101', 'semester': 1, 'year': 'Freshman'},
  {'courseID': 'RHET:1030', 'semester': 1, 'year': 'Freshman'},
  {'courseID': 'CSI:1600', 'semester': 1, 'year': 'Freshman'},
  {'courseID': 'ANTH:1301', 'semester': 2, 'year': 'Freshman'},
  {'courseID': 'ENGL:1200', 'semester': 2, 'year': 'Freshman'},
  {'courseID': 'ANTH:1201', 'semester': 1, 'year': 'Sophomore'},
  {'courseID': 'ANTH:1401', 'semester': 1, 'year': 'Sophomore'},
  {'courseID': 'ANTH:1001', 'semester': 2, 'year': 'Sophomore'}],
 'major': 'anthropology-ba'}

In [21]:
import json
with open('../data/major-plans.json', 'w') as f:
    json.dump(majors, f)