# Department Data

In [1]:
import pandas as pd

f = '../data/02-indexed-courses.json'

In [2]:
df = pd.read_json(f).transpose()

In [3]:
df.head()

,after,before,courseID,course_num,department,description,hours,href,name
ABRD:3010,[],[],ABRD:3010,3010,ABRD,"University of Swansea, Wales; three-week inter...",ARR,http://catalog.registrar.uiowa.edu/my-ui/cours...,Iowa Regents Semester in Wales
ABRD:3011,[],[],ABRD:3011,3011,ABRD,Unique opportunity to spend an academic year f...,ARR,http://catalog.registrar.uiowa.edu/my-ui/cours...,Iowa at Oxford
ABRD:3012,[],[],ABRD:3012,3012,ABRD,Advanced undergraduate study at the University...,ARR,http://catalog.registrar.uiowa.edu/my-ui/cours...,Regents Semester in Scotland
ABRD:3013,[],[],ABRD:3013,3013,ABRD,"Course work in international economics, financ...",ARR,http://catalog.registrar.uiowa.edu/my-ui/cours...,IES London: Study London
ABRD:3014,[],[],ABRD:3014,3014,ABRD,Opportunity to study global health issues in t...,ARR,http://catalog.registrar.uiowa.edu/my-ui/cours...,IES London/Jamaica Hlth Practice/Policy

In [4]:
departments = df['department'].unique()
departments.sort()

In [5]:
department_df = pd.DataFrame()
department_df['label'] = departments
department_df['value'] = departments

In [6]:
department_df.head()

  label value
0  ABRD  ABRD
1   ACB   ACB
2  ACCT  ACCT
3  ACTS  ACTS
4  AERO  AERO

### Get Count of Department Courses

In [7]:
dep_counts = df['department'].value_counts()

In [8]:
department_df['label'] = department_df['label'].apply(lambda x: x + ' (' + str(dep_counts[x]) + ')')

In [9]:
department_df.head()

        label value
0  ABRD (214)  ABRD
1     ACB (6)   ACB
2   ACCT (29)  ACCT
3   ACTS (15)  ACTS
4   AERO (17)  AERO

#### Filter Rows with no value

#### Write out

In [14]:
out = '../data/04-departments.csv'
department_df.to_csv(out, index=False)